body {
  background-color: #f0c27b; /* Añadí 'background-color' como adicional */
  background: -webkit-linear-gradient(to right, #f0c27b, #4b1248);
  background: linear-gradient(to right, #f0c27b, #4b1248);
  font-family: Arial, sans-serif; /* Añadí una fuente genérica  */
  margin: 0; /* Eliminé los márgenes predeterminados del body  */
 
}






h1, h2 {
 
 
  text-align: center; /* Añadi text-align para centrar los títulos y subtítulos */
  }
 
 
 


.formulario {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: #fff; /* Añadí un fondo blanco  */
  border-radius: 8px; /* Añadí bordes redondeados para un diseño más suave */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadí sombra para dar profundidad */
  margin: 20px auto; /* Centré el formulario en la página */
}


.formulario input,
.formulario select {
  border: 1px solid #ccc; /* Añadí un borde claro para resaltar los campos */
  height: 30px; /* Aumenté la altura de los inputs  */
  border-radius: 5px;
  padding: 5px; /* Añadí padding interno para dar más espacio al texto */
  margin-bottom: 10px; /* Añadí un margen inferior  */
}


.error {
  background-color: #ff4d4d; /* Cambié el rojo intenso a un tono más amigable */
  color: white; /* Añadí color de texto blanco para mayor contraste */
  padding: 5px; /* Añadí padding para darle espacio interno */
  border-radius: 3px; /* Añadí bordes redondeados para un diseño más suave */
  margin-bottom: 10px; /* Añadí margen inferior para separar el error de otros elementos */
}


.elemento-lista {
  color: #4b1248;
  font-family: Verdana, sans-serif; /* Añadí 'sans-serif'  */
  margin: 10px 0;
  border: 2px solid #4b1248; /* Disminuí el grosor del borde a 2px para hacerlo menos pesado visualmente */
  border-radius: 5px;
  padding: 10px; /* Aumenté el padding  */
  width: 100%; /* Cambié a 100% para que ocupe todo el ancho disponible */
  max-width: 400px; /* Mantengo un ancho máximo de 400px para consistencia */
}


.elemento-lista input {
  border: none;
  background: none;
  color: #4b1248;
  font-family: inherit; /* Utilicé 'inherit' para heredar la fuente del elemento padre */
  margin: 10px 0;
  font-size: 16px;
}

